.profile
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-column-gap: 15px

  &__main_info
    flex: 1 1 auto
    min-height: 1px
    padding: 1.25rem
    align-items: center!important
    display: flex!important
    border: 1px solid black
    border-radius: 10px


    &__name
      position: relative
      line-height: 24px
      vertical-align: middle

  &__full_info
    flex: 1 1 auto
    min-height: 1px
    padding: 1.25rem
    margin-top: 1.25rem
    align-items: center!important
    display: flex!important
    border: 1px solid black
    border-radius: 10px